<launch>
    <!-- start robot A and launch assembly task on it --> 
	<include file="$(find lego_moveit)/launch/lego_moveit_A.launch" />
	<include file="$(find gp4_lego)/simulation/launch/gp4_gazebo.launch">
		<arg name="namespace" value="/architect" />
	</include>
	<include file="$(find gp4_lego)/launch/task_planning_cartesian_node.launch">
		<arg name="namespace" value="/architect" />
	</include>
	
    <!-- start robot D and launch assembly task on it -->
	<include file="$(find lego_moveit)/launch/lego_moveit_D.launch" />
	<include file="$(find gp4_lego)/simulation/launch/gp4_gazebo.launch">
		<arg name="namespace" value="/developer" />
	</include>
	<include file="$(find gp4_lego)/launch/task_planning_cartesian_node.launch">
		<arg name="namespace" value="/developer" />
    </include>

	<!-- start robot B and launch random motion task on it -->
    <include file="$(find lego_moveit)/launch/lego_moveit_B.launch" />
    <include file="$(find lego_moveit)/launch/lego_random_motion.launch">
        <arg name="namespace" value="builder" />
        <arg name="config_fname" value="$(find lego_moveit)/config/random_motion_s2.json" />
        <arg name="point_count" value="4" />
    </include>
    
	<!-- start robot C and launch random motion task on it -->
    <include file="$(find lego_moveit)/launch/lego_moveit_C.launch" />
    <include file="$(find lego_moveit)/launch/lego_random_motion.launch">
        <arg name="namespace" value="creator" />
        <arg name="config_fname" value="$(find lego_moveit)/config/random_motion_s1.json" />
        <arg name="point_count" value="4" />
    </include>

    <include file="$(find lc_utils)/run.launch" />

</launch>
