<launch>
    <!-- start robot A and launch assembly task on it-->
	<include file="$(find gp4_lego)/simulation/launch/gp4_gazebo.launch">
		<arg name="namespace" value="/architect" />
	</include>
	<include file="$(find gp4_lego)/launch/task_planning_cartesian_node.launch">
		<arg name="namespace" value="/architect" />
	</include>
	
    <!-- start robot D and launch assembly task on it -->
	<include file="$(find gp4_lego)/simulation/launch/gp4_gazebo_noworld.launch">
		<arg name="namespace" value="/developer" />
	</include>
	<include file="$(find gp4_lego)/launch/task_planning_cartesian_node.launch">
		<arg name="namespace" value="/developer" />
    </include>

</launch>
