<launch>

	<!-- Launch moveit_planning_execution.launch from motoman_gp4_moveit_config package under the 'architect' namespace -->
    	<include file="$(find motoman_gp4_moveit_config)/launch/moveit_planning_execution.launch">
		<arg name="robot_ip" value="192.168.1.6" />
      		<arg name="sim" value="false" />
    	</include>

	<!-- Start move_for_lego node -->
    	<node name="move_for_lego_node" pkg="lego_moveit" type="move_for_lego" output="screen">
		<param name="group_name" type="str" value="manipulator" />
  	</node>

</launch>
