<launch>

    <node ns="architect" name="enable_robot" pkg="lego_moveit" type="rosservice_enable.py" output="screen">
		<param name="namespace" type="str" value="architect" />
	</node> 

    <node ns="builder" name="enable_robot" pkg="lego_moveit" type="rosservice_enable.py" output="screen">
		<param name="namespace" type="str" value="builder" />
	</node> 

    <node ns="creator" name="enable_robot" pkg="lego_moveit" type="rosservice_enable.py" output="screen">
		<param name="namespace" type="str" value="creator" />
	</node> 

    <node ns="developer" name="enable_robot" pkg="lego_moveit" type="rosservice_enable.py" output="screen">
		<param name="namespace" type="str" value="developer" />
	</node> 

</launch>
